.banner-ad{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: rgb(235, 230, 228);
}

.banner-ad img{
  width: 700px;
  height: 180px;
  border-radius: 20px;
}